[Unit]
Description=PM2 node.js app
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/pm2 start /home/ubuntu/www/webapp/app.js --name node-app

[Install]
WantedBy=multi-user.target

