[Unit]
Description=PM2 node.js app

[Service]
Type=simple
ExecStart=/usr/bin/pm2 start /home/ubuntu/www/webapp/app.js --name node-app
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target

